*,
*::before,
*::after
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.6;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    display:block;
    max-width:100%;
}
:root{
    scroll-behavior: smooth;
    --main-color:#e87500;
}
:focus-visible{
    outline:4px green solid;
}



.container{
    max-width:1200px;
    margin:0 auto;
  width:90%;
  }
header{
    min-height:8rem;
    display:flex;
    justify-content: space-evenly;
   background-color: white;
   color:black;
    align-items: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    position: relative;
   z-index:400;
}
.navbar{
    display:flex;
    gap:1rem;
    animation: opacityteszt 1100ms ease-in;
}
nav a{
    display:inline-block;
    font-size:1.2rem;
    color:white;
    outline: 2px var(--main-color) solid;
   padding:0.5rem;
   transition: all ease-in 200ms;
   background-color:var(--main-color);
    }
nav a:hover{
    outline: 2px var(--main-color) solid;
    outline-offset: 5px;
    border-radius:1rem;
    }
#headerimage{
    position: relative;
    margin-top:-3rem;
    background-image:url("assets/introimage.jpg");
    background-position: center center;
    background-size: cover;
    min-height:100vh;
text-align: center;
z-index:0;
}
.weebly{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
    color:var(--main-color);
   }
.aboutdivide{
   min-height:25rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:2rem;
}
.abouttext{
    display:flex;
    flex-direction: column;
    max-width:60ch;
  text-align: left;
        }
    .abouttext p{
        margin:1rem 0rem;
        font-size:1.2rem;
        line-height:2.2;
    }
    #yt,.map{
        display:flex;
        justify-content: center;
        align-items: center;
      }
.flex{
    position: relative;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    }
.flex::after{
    content:'';
    position: absolute;
    inset:0;
    z-index:-5;
    mix-blend-mode:multiply;
    background-color: rgb(136, 94, 17)
}
.flex h1{
    font-size:3rem;
}
.gap{
    margin-top:6rem;
}
.grids{
    padding:1rem;
        display:flex;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    gap:1.5rem;
    flex-wrap:wrap;
    text-align: center;
    counter-reset: tesztcount;
}
.grid{
    display:flex;
    justify-content: space-around;
    transition:transform 200ms ease-in;
}
.grid:hover{
transform:translateY(-10px);
}
.grid img{
    border:3px var(--main-color) solid;
    height:300px;
    width:340px;
}
.grid p{
    margin-top:1rem;
}
.teszt{
    position: relative;
}
.teszt::before{
    counter-increment: tesztcount;
    content: counter(tesztcount) '  ';
    position: absolute;
   left:20%;
   translate: transform(-20%);
    background-color:var(--main-color);
     height:1.8rem;
    width:1.8rem;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#idézet{
    min-height:25rem;
    background:url("assets/pizzaquote.jpg") no-repeat center center/cover;
    position: relative;
    z-index:31;
}
.idézet{
    min-height:25rem;
    position:relative;
    display:flex;
    flex-direction: column;
    gap:2rem;
    font-size:1.42rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}
.idézet::after{
    content:'';
    position: absolute;
    inset:0;
    mix-blend-mode: multiply;
    background-color: rgb(85, 57, 4);
    z-index:-1;
}
.idezet-quote::before{
content:open-quote;
color:var(--main-color);
font-size:2rem;
}
.idezet-quote::after{
content:close-quote;
color:var(--main-color);
font-size:2rem;
}
.reviews{
    display:flex;
    justify-content: space-between;
    gap:2rem;
}
.review{
    min-height:30rem;
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
       border-radius:2rem;
          }
    
.review img{
   height:220px;
   width:220px;
    border-radius:2rem;
    object-fit:cover;
   }
.quote::before{
    content:open-quote;
    color:var(--main-color);
    font-size:2rem;
}
.quote::after{
    content:close-quote;
    color:var(--main-color);
    font-size:2rem;
}
.contacts{
    display:flex;
    justify-content: space-evenly;
    gap:2rem;
}
.contact{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bold{
    font-size:1.8rem;
    font-weight: bold;
    color:var(--main-color);
   }
.opening2{
    column-count: 2;
    column-rule: 3px solid var(--main-color);
      text-align: center;
}
.footerimage{
    min-height:35rem;
    background:url("assets/fotimg2.jpg") no-repeat center center / cover;
    position: relative;
    z-index:999999;
}
.introcont{
    min-height:35rem;
    position:relative;
    }
.intro{
    min-height:35rem;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:2rem;
    color:var(--main-color);
    font-size:1.3rem;
}
.introcont::after{
    content: '';
    position: absolute;
    z-index:-1;
    inset:0;
    mix-blend-mode: multiply;
    background-color: #422D05;
}
.intro ul{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.intro a{
    color:var(--main-color);
    text-align:center;
}
.intro h2{
       margin-bottom:1rem;
    text-align: center;
    font-style:italic;
}
.social{
    display:flex;
    justify-content: space-between;
   }
.social img{
    height:32px;
    width:32px;
}
.open{
    display:flex;
}
.hr{
    height:200px;
    width:100%;
background-color:var(--main-color);
}
.menulogo{
    display:none;
}
.hr{
    height:2px;
    border-width:0px;
    background-color:var(--main-color);
}
.author{
    min-height:6rem;
    display:flex;
    color:var(--main-color);
    justify-content: center;
    align-items: center;
    font-size:1.2rem!important;
}
@keyframes opacityteszt{
    0%{
        opacity: 0;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
}
/* Media Queries */
@media (min-width:824px){
    .navbar ul {
      display:flex;
    }
}
@media (max-width:1024px){
header{
   
    flex-direction: column;
    border:none;
    border-radius: 0%;
    margin-bottom:6rem;
}
nav{
    width:90%;
}
.navbar{
    flex-direction: column;
}
nav a{
    width:100%;
      background-color: var(--main-color);
  outline:none;
    text-align: center;
    color:white;
}
nav a:hover{
    outline:none !important;
    outline-offset:0px !important;
    border-radius:0rem !important;
    opacity:0.8;
}
.navbar ul{
    display:none;
}
.navbar:first-child{
    margin-top:4rem;
}
.menulogo {
    position:absolute;
    top:25px;
    right:5px;
    display:flex;
}
.grids{
grid-template-columns: 1fr;
justify-content: center;
align-items: center;
justify-items: center;
}
.reviews{
    flex-direction: column;
    align-items: center;
}
.contacts{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    gap:2rem;
}
.intro{
    flex-direction: column;
}
.open{
   display:flex;
}

.intro:first-child  {
    padding-top:4rem;
}
}
@media (max-width:650px){
.map,#yt{
    max-width:320px;
}
}
